@font-face {
    font-family: 'VCR OSD Mono';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');

}

body {
    color: #ffffff;
    font-family: 'VCR OSD Mono', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #021B1A;
}

header {
    background-color: #011412;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.logo img {
    max-width: 100px;
}

.title-nav h1 {
    margin: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin: 0 15px;
    display: left;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

.nav-link.active {
    color: rgb(169, 247, 74);
}


nav ul {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
